.calculator {
  width: 450px;
  height: 500px;
  margin: 150px auto;
  border-radius: 10px;
  background-color: rgb(14, 14, 14);
  padding: 21px 21px;
  box-shadow: 0 0 10px rgba(66, 61, 61, 0.1);
}

#display {
  width: 90%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 21px;
  font-weight: 900;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {

  padding: 21px 10px;
  font-size: 21px;
  

  background-color: rgba(0, 0, 0, 0.29);
  color: rgb(252, 243, 243);
  box-shadow:0 0 5px  rgba(248, 245, 245, 0.1); ;
  cursor: pointer;
}

button:hover {
  background-color: #959494;
}

.a {
  color: rgb(245, 245, 249);
  background-color: rgb(232, 100, 6);
}

.aa {
  color: white;
  background-color: rgb(52, 52, 61);
}