* {
    background-color: black;
}

/*----navbar-------*/
.navbar {
    z-index: 1000;
    top: 0;
    margin-top: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    display: inline;
    background-color: black;

}

.navbar img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 2px;
    font-size: 1.2rem;
    font-weight: 400;
    background: linear-gradient(to right,  #cfbb23, #44ee88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.navbar ul {
    display: inline;
    position: relative;
    left: 63%;
}

.navbar li {
    display: inline;
    margin: 2px;
    padding: 10px;
    font-size: 1.1rem;
    color: whitesmoke;
    letter-spacing: 1px;
    background-color: transparent;
}


/*------About--------*/
#about {
    padding-top: 80px;
    width: 100%;
    color: whitesmoke;
}

#about img {
    height: 150px;
    width: 150px;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 100%;
}

#about h1 {
    position: relative;
    font-size: 3rem;
    margin-top: 50px;
    right: 400px;
    float: right;
    background: linear-gradient(to right, #f35921, #ffea08, #23cf37, #44e0ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#about p {
    font-size: 1.2rem;
    margin-top: 50px;
    text-align: left;
    margin-left: 150px;
    width: 75%;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 2px;

}
#about .link{
    padding-left: 130px;
    text-align: left;
}
#about .link a img{
    width: 50px;
    height: 50px;
    padding: 20px;
    
}
#about .link p{
    display: inline-block;
    width: 150px;
    
    font-size: 1.7rem;
}
#about .link a{
    display: inline-block;
    color: whitesmoke;
    font-size: 1.4rem;
}

/*-----Skill--------*/

#skill {
    padding-top: 30px;
    text-align: center;
}

#skill .container {

    width: 70%;
    height: 600px;
    background-color: black;
    box-shadow: 0 0 5px 5px white;
    margin: auto;
}

#skill .container h1 {
    color: whitesmoke;
    font-style: oblique;
    text-align: center;
    font-size: 4rem;
    font-weight: bolder;
    padding-top: 18px;
    letter-spacing: 2px;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skill .container .content {
    text-align: center;
    margin-left: 20px;
    margin-bottom: 50px;
    width: 30%;
    display: inline-block;


}

#skill .container .content img {
    width: 100px;
    height: 80px;
}

#skill .container .content h3 {
    color: whitesmoke;
    text-align: center;
}

/*---------Project--------*/
#projects {
    text-align: center;
}

#projects h1 {
    color: whitesmoke;
    text-align: center;
    font-style: oblique;
    font-size: 4rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



#projects .container {
    width: 40%;
    text-align: center;
    display: inline-block;
    margin: 50px;
    box-shadow: 0 0 10px 5px whitesmoke;

}

#projects .container img {
    width: 80%;
    height: 200px;
    margin: 20px 0 10px 0;
    border: 1px solid whitesmoke;

}

#projects .container h3 {
    color: whitesmoke;
    font-style: oblique;
    font-size: 2rem;
}

#projects .container p {
    color: whitesmoke;
    font-size: 1.1rem;
    text-align: center;
    line-height: 2;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 5px;
}

#projects .container .btn  {
    color: whitesmoke;
    margin: 5px 0 15px 0;
    

}
#projects .container .btn a {
    color: whitesmoke;
    margin: 5px 0 15px 0;
    text-decoration: none;

}

/*---------contact----------*/
#contact {
    text-align: center;
}

#contact h1 {
    color: transparent;
    text-align: center;
    font-style: oblique;
    font-size: 4rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    background-color: black;

}

#contact form {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#contact form label {
    display: inline-block;
    background-color: transparent;
    margin: 50px 0 10px 50px;
    color: whitesmoke;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

#contact form input
{
    background-color: whitesmoke;
}

#contact form textarea{
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
} 
#contact form .btn{
     background-color: transparent;
     color: whitesmoke;
     margin: 30px;
}

/*--------footer--------*/
footer{
    text-align: center;
    
}
footer p{
    color: whitesmoke;

}